NEXT_PUBLIC_API_URL=https://api.fixeasy.irish
NEXT_PUBLIC_SUPABASE_URL=https://wphmhlrttmzsmngysfws.supabase.co
NEXT_PUBLIC_SUPABASE_KEY=YOUR_SUPABASE_ANON_KEY
NEXT_PUBLIC_SITE_URL=https://fixeasy.irish
NEXT_PUBLIC_ENV=production
